/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-width: 1599px) {

/* -------------------------------------------------------------
                        CONTAINERS                               
------------------------------------------------------------- */

  .container {
    width: 100%;
  }

  .main-grid-container {
    grid-template-columns: 1fr 90% 1fr;
  }

/* -------------------------------------------------------------
                          HEADER                               
------------------------------------------------------------- */

/* HEADER STRIP TOP */

  .content-strip-top > span {
    display: block !important;
  }

  /* HEADER STRIP NAV */

  .content-nav > div:last-of-type {
    flex-grow: 0 !important;
  }

/* -------------------------------------------------------------
                         PROMO SECTION                        
------------------------------------------------------------- */

  .promo-ad-wrap {
    justify-content: center;
  }

  .promo-ad-wrap div:first-child {
    max-width: 590px;
  }

  .promo-ad-wrap div:last-child {
    max-width: 590px; 
  }

/* -------------------------------------------------------------
                         BLOG SECTION                      
------------------------------------------------------------- */

  main {
    width: 1180px;
    justify-self: center;
  }  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

/* -------------------------------------------------------------
                        CONTAINERS                               
------------------------------------------------------------- */

  .container {
    width: 100%;
  }

  .main-grid-container{
    grid-template-columns: 1fr 100% 1fr;
    grid-template-rows: 42px 70px 110px 150px 28px 100px 120px 40px 360px 149px 30px 82px 200vw 195px 200px 179px 90px 211px;
  }

/* -------------------------------------------------------------
                    SECTION WITH BACKGROUND                              
------------------------------------------------------------- */

  .puma-logo {
    padding-bottom: 28px;
  }

  .bg-changer {
    padding-bottom: 50px;
  }

/* -------------------------------------------------------------
                            HEADER                               
------------------------------------------------------------- */

/* HEADER STRIP TOP */

  .content-strip-top > span {
    display: block !important;
  }

/* HEADER STRIP NAV */

  .content-nav > div:last-of-type {
    flex-grow: 0 !important;
  }

  .user-menu > span > img {
    margin-left: 10px;
  }

  /* -------------------------------------------------------------
                         PROMO SECTION                        
  ------------------------------------------------------------- */

  .promo-ad-wrap {
    justify-content: center;
  }

  .promo-ad-wrap div:first-child {
    max-width: 590px;

  }  
  .promo-ad-wrap div:last-child {
    max-width: 590px; 
  }

/* -------------------------------------------------------------
                          BLOG SECTION                      
------------------------------------------------------------- */

  main {
    grid-template-rows: repeat(8, 25vw);
  }  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets (portrait)
  ##Screen = B/w 481px to 767px
*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait),
       only screen and (min-device-width: 481px) and (max-device-width: 767px) and (orientation: portrait) {

/* -------------------------------------------------------------
                          CONTAINERS                               
------------------------------------------------------------- */

  .container {
    width: 100%;
  }

  .main-grid-container {
    grid-template-columns: 1fr 100% 1fr;
    grid-template-rows: 42px 70px 110px 150px 28px 100px 120px 40px 760px 110px 30px 72px 200vw 195px 200px 179px 90px 211px;
  }

/* -------------------------------------------------------------
                           HEADER                               
------------------------------------------------------------- */

/* HEADER STRIP TOP*/

  .strip-top,
  .content-strip-top {
    position: fixed;
    left: 0;
    top: 0;
  }

  .content-strip-top > span {
    display: block !important;
  }

  .user-menu > span > img {
    margin-left: 10px;
  }

  /* HEADER STRIP NAV */

  .strip-nav,
  .content-nav {
    position: fixed;
    top: 42px;
    left: 0;
  }

  .logo-header {
    position: fixed;
    left: 0;
    top: 0;
  }

  .nav-icon-1 {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 10px 20px 10px 190px !important;
    cursor: pointer;
    transition: .1s;
  }

  .nav-icon-1 span {
    position: absolute;
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #ff6600;
  }

  .nav-icon-1 div {
    height: calc(100% + 40px);
    width: calc(100% + 40px);
    transform: translate(-20px, -20px);
  }

  .nav-icon-1:hover span {
    transform: scale(1.2);
    transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
  }

  .nav-icon-1 span:nth-child(1) {
    top: 0;
    left: 0;
  }

  .nav-icon-1 span:nth-child(2) {
    top: 0;
    left: 12px;
  }

  .nav-icon-1 span:nth-child(3) {
    top: 0;
    right: 0;
  }

  .nav-icon-1 span:nth-child(4) {
    top: 12px;
    left: 0;
  }

  .nav-icon-1 span:nth-child(5) {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  .nav-icon-1 span:nth-child(6) {
    top: 12px;
    right: 0px;
  }

  .nav-icon-1 span:nth-child(7) {
    bottom: 0px;
    left: 0px;
  }

  .nav-icon-1 span:nth-child(8) {
    position: absolute;
    bottom: 0px;
    left: 12px;
  }

  .nav-icon-1 span:nth-child(9) {
    right: 0px;
    bottom: 0px;
  }

  .nav-icon-1.open {
      transform: rotate(180deg);
      cursor: pointer;
      transition: .2s cubic-bezier(.8, .5, .2, 1.4);
  }

  .nav-icon-1.open span {
    border-radius: 50%;
    transition-delay: 200ms;
    transition: .5s cubic-bezier(.8, .5, .2, 1.4);
  }

  .nav-icon-1.open span:nth-child(2) {
    top: 6px;
    left: 6px;
  }

  .nav-icon-1.open span:nth-child(4) {
    top: 18px;
    left: 6px;
  }

  .nav-icon-1.open span:nth-child(6) {
    top: 6px;
    right: 6px;
  }

  .nav-icon-1.open span:nth-child(8) {
    bottom: 6px;
    left: 18px;
  }

  .content-nav > a {
    display: none;
  }

  .menu-nav-container.content-nav > a {
    flex-grow: 1;
    display: block;
    padding-right: initial;
    padding-left: initial;
    margin: initial;
    text-align: center;
  }

  .content-nav > div:last-of-type {
    flex: 1 !important;
    margin-left: initial;
  }

  .search-btn {
    z-index: 1;
    padding: 0 0 0 0;
    border-right: none;
  }

  .search-btn:hover {
    padding-bottom: 0;
    border-top: none;
  }

  .search-btn > span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ff6600;
    transform: translate(20px) !important;
  }

  .search-btn > span > img {
    opacity: 1;
    filter: invert(1);
  }

  .input-search {
    flex: 1;
    align-self: center;
    position: static;
    z-index: 0;
    display: block;
    height: 40px;
    width: 100px;
    min-width: 100px;
    padding-left: 40px;
    border: 1px solid #ff6600;
    border-radius: 20px;
    text-align: center;
    font: 700 20px Montserrat;
    letter-spacing: -0.062em;
    color: rgba(0,0,0, 0.15);
    background-color: white;
    transform: translate(-20px);
  }
  
  .container-search {
    display: none;
  }

  .basket-btn {
    margin-left: auto;
    border-left: 1px solid rgba(0,0,0, 0.08);
  }

  .menu-nav-container {
    display: flex;
    top: 112px;
  }

/* -------------------------------------------------------------
                   SECTION WITH BACKGROUND                              
------------------------------------------------------------- */
  .bg-header {
    grid-row: 2/9;
  }

  .puma-logo {
    padding-bottom: 24px;
  }

  .tagline-header > h1 {
    font-size: 8vw;
    line-height: 9vw;
  }

  .strips > div {
    height: 6vw;
    width: 6vw;
    border-top: 1px solid white;
  }

  .sub-discription > h4 {
    font-size: 2vw;
  }

  .find-out {
    width: 17vw;
    height: 5vw;
  }

  .find-out > span {
    padding-left: 1.3vw;
    font-size: 1.3vw;
  }

  .bg-changer {
    align-self: center;
    padding-bottom: 0;
  }

/* -------------------------------------------------------------
                        PROMO SECTION                        
------------------------------------------------------------- */

  .promo-ad-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .promo-ad-wrap > div {
    flex: initial;
    height: 400px;
    width: 590px;
  }

/* -------------------------------------------------------------
                        BLOG SECTION                      
------------------------------------------------------------- */
  .blog-title > h3 {
    padding-bottom: 10px;
  }

  [class^="blog-header"]:after {
    margin-top: 2.5vw;
  }

  main {
    grid-template-rows: repeat(8, 25vw);
  }  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

/* -------------------------------------------------------------
                            CONTAINERS                               
------------------------------------------------------------- */

  .container {
    width: 100%;
  }

  .main-grid-container {
    grid-template-columns: 170px calc(100% - 170px) 1fr;
    grid-template-rows: 42px 70px 110px 130px 28px 120px 100px 40px 760px 120px 30px 90px calc(200vw - 340px) 195px 200px 179px 90px 211px;
  }

/* -------------------------------------------------------------
                           HEADER                               
------------------------------------------------------------- */

/* HEADER STRIP TOP*/

  .strip-top,
  .content-strip-top {
    position: fixed;
    top: 0;
    left: 0;
  }

  .content-strip-top > span:first-child {
    display: block !important;
    margin-right: auto;
    margin-left: 0;
  }

  .user-menu > span > img {
    margin-left: 10px;
  }

/* HEADER STRIP NAV */

  .strip-nav {
    grid-column: 1/2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
  }

  .logo-header {
    grid-column: 1/2;
    position: fixed;
    left: 0;
    top: 0;
  }

  .content-nav {
    grid-column: 1/2;
    position: fixed;
    top: 112px;
    left: 0;
    flex-direction: column;
    align-items: stretch;
    height: calc(100vh - 112px);
    width: 100%;
  }

  .content-nav a {
    order: 1;
    border: none;
    line-height: calc((100vh - 112px)/7);
  }
  .content-nav > a {
    padding-right: initial;
    padding-left: initial;
    text-align: center;
  }

  .content-nav a:hover {
    line-height: calc(((100vh - 112px)/7) - 6px);
  }

  .content-nav > a:first-of-type {
    padding-left: 0;
    margin-left: 0;
  }

  .content-nav > div:last-of-type {
    flex-grow: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: calc((100vh - 112px)/7);
    margin: 0;
  }

  .search-btn {
    flex: 8;
    display: flex;
    justify-content: left;
    height: initial;
    padding: 0;
    border: none;
  }

  .search-btn:hover {
    border-top: none;
    height: initial;
    padding-bottom: initial;
  }
  
  .search-btn input {
    z-index: -1;
  }

  .search-btn span {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc((100vh - 112px)/7);
    width: calc((100vh - 112px)/7);
    max-height: 77px;
    max-width: 77px;
    border-radius: 50%;
    background-color: white;
    outline:none;
  }

/*  .search-btn:hover span {
   background-color: #f60 !important;
  }

  .search-btn:hover img {
    opacity: 1 !important;
    filter: invert(1) !important;
  }*/

  .container-search {
    grid-row: 2/19;
    grid-column: 2/3;
    position: static;
  }

  .input-search {
    position: fixed;
    top: 52px;
    left: 180px;
    z-index: 4;
    display: none;
    height: calc((100vh - 112px)/7);
    max-height: 77px;
    width: calc((100vh - 112px)/7);
    padding-left: 40px;
    border-radius: calc(((100vh - 112px)/7)/2);
    border: none;
    text-align: center;
    font: 700 20px Montserrat;
    letter-spacing: -0.062em;
    color: rgba(0,0,0, 0.15);
    background-color: white;
    transition: top 1s ease, left 0.5s ease, width 1s ease;
  }

  .basket-btn {
    flex: 2;
    display: flex;
    height: initial;
    margin-left: 25px;
    border: none;
  }

  .basket-btn span {
    transform: translate(calc(-50% - 21px), calc(-50% - 1px));
  } 

  .menu-nav-container {
    display: none;
  }

/* -------------------------------------------------------------
                   SECTION WITH BACKGROUND                              
------------------------------------------------------------- */

  .bg-header {
    grid-column: 2/4;
  }

  .puma-logo {
    align-self: flex-start;
    margin-top: 10px;
    padding-bottom: 18px;
  }

  .strips {
    grid-column: 2/3;
    display: none;
    align-items: center;
  }

  .tagline-header {
    align-self: center;
  }

  .tagline-header h1 {
    padding-bottom: 0;
    text-align: center;
    font-size: 60px;
    line-height: 60px;
  }

  .sub-discription > h4 {
    font-size: 16px;
  }

  .find-out {
    align-self: center;
    width: 17vw;
    height: 5vw;
  }

  .find-out > span {
    font-size: 1.3vw;
    padding-left: 1.3vw;
  }

  .bg-changer {
    padding-bottom: 20px;
    align-self: center;
  }

/* -------------------------------------------------------------
                        PROMO SECTION                        
 ------------------------------------------------------------- */

  .promo-ad-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .promo-ad-wrap > div {
    flex: initial;
    height: 400px;
    width: 590px;
  }   
}

/* 
  ##Device = Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {

/* -------------------------------------------------------------
                         CONTAINERS                               
------------------------------------------------------------- */

  .container {
    width: 100%;
  }

  .main-grid-container {
    grid-template-columns: 1fr 100% 1fr;
    grid-template-rows: 42px 70px 70px 90px 20px 110px 40px 40px 560px 110px 30px 72px 200vw 195px 200px 179px 90px 211px;
  }

/* -------------------------------------------------------------
                           HEADER                               
------------------------------------------------------------- */

/* HEADER STRIP TOP*/

  .strip-top,
  .content-strip-top {
    position: fixed;
    left: 0;
    top: 0;
  }

  .content-strip-top {
    grid-column: 2/3;
  }

  .content-strip-top > span:first-child {
    min-width: 120px;
    margin-right: auto;
    margin-left: 87px;
  }

/* HEADER STRIP NAV */

  .logo-header {
    grid-row: 1/2;
    grid-column: 2/3;
    position: fixed;
    top: 0;
    left: 0;
    width: 83px;
    background-size: contain;
  }

  .nav-icon-1 {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0;
    cursor: pointer;
    transition: .1s;
  }

  .nav-icon-1 span {
    position: absolute;
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #ff6600;
  }

  .nav-icon-1 div {
    height: calc(100% + 12px);
    width: calc(100% + 12px);
    transform: translate(-6px, -6px);
  }

  .nav-icon-1:hover span {
    transform: scale(1.2);
    transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
  }

  .nav-icon-1 span:nth-child(1) {
    top: 0;
    left: 0;
  }

  .nav-icon-1 span:nth-child(2) {
    top: 0;
    left: 12px;
  }
  .nav-icon-1 span:nth-child(3) {
    top: 0;
    right: 0;
  }

  .nav-icon-1 span:nth-child(4) {
    top: 12px;
    left: 0;
  }

  .nav-icon-1 span:nth-child(5) {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  .nav-icon-1 span:nth-child(6) {
    top: 12px;
    right: 0px;
  }

  .nav-icon-1 span:nth-child(7) {
    bottom: 0px;
    left: 0px;
  }

  .nav-icon-1 span:nth-child(8) {
    position: absolute;
    bottom: 0px;
    left: 12px;
  }

  .nav-icon-1 span:nth-child(9) {
    bottom: 0px;
    right: 0px;
  }

  .nav-icon-1.open {
    transform: rotate(180deg);
    cursor: pointer;
    transition: .2s cubic-bezier(.8, .5, .2, 1.4);
  }

  .nav-icon-1.open span {
    border-radius: 50%;
    transition: .5s cubic-bezier(.8, .5, .2, 1.4);
    transition-delay: 200ms;
  }

  .nav-icon-1.open span:nth-child(2) {
    top: 6px;
    left: 6px;
  }

  .nav-icon-1.open span:nth-child(4) {
  top: 18px;
  left: 6px;
  }

  .nav-icon-1.open span:nth-child(6) {
    top: 6px;
    right: 6px;
  }

  .nav-icon-1.open span:nth-child(8) {
    bottom: 6px;
    left: 18px;
  }


  .nav-logos-pretty {
    display: flex;
    flex: 0 0 auto;
  }

  .content-strip-top span, .content-strip-top a {
    padding: 0;
  }
  .strip-nav {
    display: none;
  }

  .content-nav {
    grid-column: 2/3;
    position: fixed;
    top: 42px;
    left: 0;
    flex-direction: row;
    height: 70px;
    width: 100%;
  }

  .content-nav a {
    order: 1;
    display: none;
    line-height: 70px;
  }
  .content-nav > a {
    padding-right: initial;
    padding-left: initial;
    text-align: center;
  }

  .content-nav > a:first-of-type {
    padding-left: 0;
    margin-left: 0;
  }

  .content-nav > div:last-of-type {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 42px;
    margin: 0;
  }

  .menu-nav-container.content-nav a {
    flex-grow: 1;
    display: block;
    padding-right: initial;
    padding-left: initial;
    margin: initial;
    text-align: center;
  }

  .search-btn {
    z-index: 1;
    display: flex;
    justify-content: left;
    height: initial;
    padding: 0 10px;
    border: none;
  }

  .search-btn:hover {
    height: initial;
    padding-bottom: initial;
    border-top: none;
  }

  .search-btn:hover img {
    opacity: 0.8 !important;
  }

  .search-btn input {
    z-index: -1;
  }

  .search-btn input:checked  ~ span {
    transform: translate(18px) !important;
  }

  .search-btn input:checked  ~ span > img {
    opacity: 0.8 !important;
  }

  .search-btn span {
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: initial;
    max-height: 77px;
    width: initial;
    max-width: 77px;
    background-color: initial;
    outline: none;
  }

  .container-search {
    display: none;
  }

  .input-search {
    position: static;
    z-index: 0;
    flex: 1;
    align-self: center;
    display: none;
    width: 100px;
    min-width: 100px;
    padding-left: 28px;
    border: 1px solid #ff6600;
    border-radius: 15px;
    height: 30px;
    text-align: center;
    font: 400 14px Montserrat;
    letter-spacing: -0.062em;
    color: rgba(255,255,255, 0.8);
    background-color: #202020;
    transform: translate(-20px) !important;
  }

  .basket-btn {
    flex: 2;
    display: flex;
    height: initial;
  }

  .basket-btn img:first-of-type {
    opacity: 0.3;
    filter: invert(1);
  }

  .basket-btn span {
    color: rgba(255,255,255, 0.8);
    transform: translate(calc(-50% - 21px), calc(-50% - 1px));
  } 

  a.basket-btn:hover {
    padding-top: 0;
    border-bottom: none;
  }

  .basket-btn:hover img:first-of-type {
    opacity: 0.8;
  }

  .menu-nav-container {
    grid-column: 2/3; 
    grid-row: 2/3;
    display: flex;
  }

/* -------------------------------------------------------------
                 SECTION WITH BACKGROUND                              
------------------------------------------------------------- */

  .strips {
    grid-column: 2/3;
  }

  .strips > div {
    width: 8vw;
  }

  .puma-logo {
    padding-bottom: 14px;
    transform: translateY(-40px);
  }

  .tagline-header {
    align-self: center;
  }

  .tagline-header h1 {
    padding-bottom: 12px;
    font-weight: 600;
    font-size: 8vw;
    line-height: 8vw;
    letter-spacing: -0.096em;
    color: #ffffff;
  }

  .sub-discription > h4 {
    font-size: 2.5vw;
  }

  .find-out {
    align-self: center;
    height: 6vw;
    width: 22vw;
  }

  .find-out > span {
    font-size: 1.5vw;
  }

  .bg-changer {
    padding-bottom: 18px;
  }

  /* -------------------------------------------------------------
                         PROMO SECTION                        
  ------------------------------------------------------------- */

  .promo-ad-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .promo-ad-wrap > div {
    flex: initial;
    height: 300px;
    width: 100%;
    max-width: 442.5px;
    background-repeat: no-repeat !important;
    background-size: auto 100% !important;
  } 

  .promo-ad-wrap h3 {
    width: 170px;
    font-size: 37px;
  }

  .menu-of-ad {
    bottom: 17px;
  }

  .menu-of-ad span {
    font-size: 10px;
  }

  /* -------------------------------------------------------------
                          BLOG SECTION                      
  ------------------------------------------------------------- */
  
  .blog-title > h3 {
    padding-bottom: 14px;
  }

  main {
    grid-template-rows: repeat(8, 25vw);
  } 

  ::-webkit-input-placeholder {
    color:rgba(255, 255, 255, 0.8);  
  }
  ::-moz-placeholder {
    color:rgba(255, 255, 255, 0.8);         
  }          
  :-moz-placeholder {
    color:rgba(255, 255, 255, 0.8);
  }          
  :-ms-input-placeholder {
    color:rgba(255, 255, 255, 0.8);
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* -------------------------------------------------------------
                          CONTAINERS                               
  ------------------------------------------------------------- */

  .container {
    width: 100%;
  }

  .main-grid-container {
    grid-template-columns: 1fr 100% 1fr;
    grid-template-rows: 42px 20px 85px 60px 30px 75px 50px 40px 560px 149px 30px 82px 200vw 195px 200px 250px 70px 111px;
  }

/* -------------------------------------------------------------
                            HEADER                               
------------------------------------------------------------- */

/* HEADER STRIP TOP*/ 

  .strip-top,
  .content-strip-top {
    position: fixed;
    left: 0;
    top: 0;
  }

  .content-strip-top {
    grid-column: 2/3;
  }

  .content-strip-top > span:first-child {
    display: none !important;
    min-width: 120px;
    margin-right: auto;
    margin-left: 87px;
  }

  .user-menu > span > img {
    margin-left: 5px;
  }

/* HEADER STRIP NAV */

  .logo-header {
    grid-row: 1/2;
    grid-column: 2/3;
    position: fixed;
    top: 0;
    left: 0;
    width: 83px;
    background-size: contain;
  }

  .nav-icon-1 {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0 auto 0 90px !important;
    cursor: pointer;
    transition: .1s;
  }

  .nav-icon-1 span {
    position: absolute;
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #ff6600;
  }

  .nav-icon-1 div {
    height: calc(100% + 12px);
    width: calc(100% + 12px);
    transform: translate(-6px, -6px);
  }

  .nav-icon-1:hover span {
    transform: scale(1.2);
    transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
  }

  .nav-icon-1 span:nth-child(1) {
    top: 0;
    left: 0;
  }

  .nav-icon-1 span:nth-child(2) {
    top: 0;
    left: 12px;
  }

  .nav-icon-1 span:nth-child(3) {
    top: 0;
    right: 0;
  }

  .nav-icon-1 span:nth-child(4) {
    top: 12px;
    left: 0;
  }

  .nav-icon-1 span:nth-child(5) {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  .nav-icon-1 span:nth-child(6) {
    top: 12px;
    right: 0px;
  }

  .nav-icon-1 span:nth-child(7) {
    bottom: 0px;
    left: 0px;
  }

  .nav-icon-1 span:nth-child(8) {
    position: absolute;
    bottom: 0px;
    left: 12px;
  }

  .nav-icon-1 span:nth-child(9) {
    right: 0px;
    bottom: 0px;
  }

  .nav-icon-1.open {
    transform: rotate(180deg);
    cursor: pointer;
    transition: .2s cubic-bezier(.8, .5, .2, 1.4);
  }

  .nav-icon-1.open span {
    border-radius: 50%;
    transition-delay: 200ms;
    transition: .5s cubic-bezier(.8, .5, .2, 1.4);
  }

  .nav-icon-1.open span:nth-child(2) {
    top: 6px;
    left: 6px;
  }

  .nav-icon-1.open span:nth-child(4) {
    top: 18px;
    left: 6px;
  }

  .nav-icon-1.open span:nth-child(6) {
    top: 6px;
    right: 6px;
  }

  .nav-icon-1.open span:nth-child(8) {
    bottom: 6px;
    left: 18px;
  }


  .nav-logos-pretty {
    flex: 0 0 auto;
    display: flex;
  }

  .content-strip-top span, .content-strip-top a {
    padding: 0;
  }

  .strip-nav {
    display: none;
  }

  .content-nav {
    grid-column: 2/3;
    position: fixed;
    top: 42px;
    left:0;
    flex-direction: row;
    height: 70px;
    width: 100%;
  }

  .content-nav a {
    order: 1;
    display: none;
    line-height: 70px;
  }

  .content-nav > a{
    padding-right: initial;
    padding-left: initial;
    text-align: center;
  }

  .content-nav > a:first-of-type {
    padding-left: 0;
    margin-left: 0;
  }

  .content-nav > div:last-of-type {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 42px;
    margin: 0;
  }

  .nav-logos-pretty {
    /*justify-content: space-evenly;*/
    justify-content: space-around;
    flex-grow: 1 !important;
  }

  .menu-nav-container.content-nav a {
    flex-grow: 1;
    display: block;
    padding-right: initial;
    padding-left: initial;
    margin: initial;
    text-align: center;
  }

  .search-btn {
    z-index: 1;
    display: flex;
    justify-content: left;
    height: initial;
    padding: 0 10px;
    border: none;
  }

  .search-btn:hover {
    border-top: none;
    height: initial;
    padding-bottom: initial;
  }

  .search-btn:hover img {
    opacity: 0.8 !important;
  }

  .search-btn input {
    z-index: -1;
  }

  .search-btn input:checked  ~ span {
    transform: translate(0) !important;
  }

  .search-btn input:checked  ~ span > img {
    opacity: 0.8 !important;
  }

  .search-btn span {
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: initial;
    max-height: 77px;
    width: initial;
    max-width: 77px;
    background-color: initial;
    transform: translate(0) !important;
    outline: none;
  }

  .container-search {
    grid-row: 1/19;
    grid-column: 2/3;
    position: static;
  }

  .input-search {
    position: fixed;
    top: 0 !important;
    left: 0 !important;;
    z-index: 7;
    display: none;
    height: 42px;
    min-width: 100px;
    padding-left: 0;
    border: 1px solid #ff6600;
    border-left: none;
    border-radius: 0 !important;
    text-align: center;
    font: 400 14px Montserrat;
    letter-spacing: -0.062em;
    color: rgba(255,255,255, 0.8);
    background-color: #202020;
    transform: translate(0) !important;
  }

  .basket-btn {
    display: flex;
    height: initial;
    border: none;
  }

  .basket-btn img:first-of-type {
    opacity: 0.3;
    filter: invert(1);
  }

  .basket-btn span {
    color: rgba(255,255,255, 0.8);
    transform: translate(calc(-50% - 21px), calc(-50% - 1px));
  } 

  a.basket-btn:hover{
    padding-top: 0;
    border-bottom: none;
  }

  .basket-btn:hover img:first-of-type {
    opacity: 0.8;
  }

  .menu-nav-container {
    grid-column: 2/3; 
    grid-row: 2/3;
    display: flex;
  }

/* -------------------------------------------------------------
                    SECTION WITH BACKGROUND                              
------------------------------------------------------------- */

  .strips {
    grid-column: 2/3;
  }

  .strips > div {
    height: 31px;
    width: 8vw;
  }

  .puma-logo {
    height: 52px;
    width: 70px;
    padding-bottom: 14px;
    transform: translateY(-20px);
  }

  .tagline-header {
    align-self: center;
  }

  .tagline-header h1 {
    padding-bottom: 0;
    font-weight: 600;
    font-size: 8vw;
    line-height: 8vw;
    letter-spacing: -0.096em;
    color: #ffffff;
  }

  .sub-discription > h4 {
    font-size: 2.5vw;
  }

  .find-out {
    align-self: center;
    height: 6vw;
    width: 22vw;
  }

  .find-out > span {
    padding-left: 2px;
    font-size: 1.7vw;
  }

  .bg-changer {
    padding-bottom: 18px;
  }

/* -------------------------------------------------------------
                         PROMO SECTION                        
------------------------------------------------------------- */

  .promo-ad-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .promo-ad-wrap > div {
    flex: initial;
    height: 300px;
    width: 100%;
    max-width: 442.5px;
    background-repeat: no-repeat !important;
    background-size: auto 100% !important;
  } 
  .promo-ad-wrap h3 {
    width: 170px;
    font-size: 37px;
  }

  .menu-of-ad {
    bottom: 17px;
  }

  .menu-of-ad span {
    font-size: 10px;
  }

/* -------------------------------------------------------------
                          BLOG SECTION                      
------------------------------------------------------------- */
    
  .blog-title > h3 {
    padding-bottom: 14px;
  }

  [class^="blog-header"]:after {
    margin-top: 0;
  }

  [class^="blog-header"] p {
    font-size: 12px;
  }

  main {
    grid-template-rows: repeat(8, 25vw);
  } 

  ::-webkit-input-placeholder {
    color:rgba(255, 255, 255, 0.8);  
  }
  ::-moz-placeholder {
    color:rgba(255, 255, 255, 0.8);         
  }          
  :-moz-placeholder {
    color:rgba(255, 255, 255, 0.8);
  }          
  :-ms-input-placeholder {
    color:rgba(255, 255, 255, 0.8);
  }
}